# add file names here

# model weights
*.h5

# datasets
hiragana_classifier/datasets/*
hiragana_classifier/new_raw_datasets/*
hiragana_classifier/new_datasets/*

# jupyter notebook
hiragana_classifier/.ipynb_checkpoints/*
hiragana_classifier/__pycache__/*

# only Mac OS
.DS_Store
