<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://code.createjs.com/1.0.0/createjs.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script type="text/javascript" src="static/Input.js"></script>
        <script type="text/javascript" src="static/luminous.js"></script>
        <link rel="icon" href="static/favicon.ico"/>
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
        <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-743HW8MHGX"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-743HW8MHGX');
        </script>
        <title>Hiragana Classifier</title>
    </head>
    <body>
        <div class="container text-center ">
            <div>Please write a hiragana</div>
            <div>If you don't know, don't worry</div>
              
            <div class="modal-body img-container" id="popup" data-zoom="static/hiragana.png">
                <button type="button" class="btn btn-success my-2" data-toggle="modal" data-target="#exampleModal">
                    Click Here
                </button>
            </div>
            <div>
                <canvas class="border" id="WriteCanvas" width="240" height="240"></canvas>
            </div>
            <div id="mainImage"></div>
            <div class="my-2">
                <button type="button" class="btn btn-primary" id="predictBtn">Predict</button>
                <button type="button" class="btn btn-secondary" id="resetBtn">Reset</button>
            </div>
            <div>Predicted results by AI</div>
            <div><img id="resultImage" width="28" height="28" src="static/mnister-Mark-28px.png" alt="draw image"></div>

            <table class="table container-sm w-25">
                <thead>
                    <tr>
                        <th scope="col">Prediction</th>
                        <th scope="col">Confidence</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="h5" id="resultLabel">e.g.)  あ(a) </td>
                        <td class="h5" id="resultScore">0.999 </td>
                    </tr>
                </tbody>
                
            </table>
            <div class="container">
                <a class="link mx-1" href="https://github.com/YoshimasaIwano">@Yoshimasa Iwano</a>
                <a class="link mx-1" href="https://github.com/Kaiyu0128">@Kaiyu Yokoi</a>
            </div>
            
        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
        <script>
            new Luminous(document.querySelector("#popup"), {
                sourceAttribute: "data-zoom",
            });
        </script>
    </body>
</html>

